  <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                    <div class="object" id="object_five"></div>
                    <div class="object" id="object_six"></div>
                    <div class="object" id="object_seven"></div>
                    <div class="object" id="object_eight"></div>
                    <div class="object" id="object_big"></div>
                </div>
            </div>
        </div>

<div class="headerwrapper">
    <div id="header" class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
      <p><%= image_tag "logo.jpg", class: "logo" %></p>            
    <% end %>
        <nav>
            <ul id="navigations">


                <li id="first-link"><a href="#home">HOME</a></li>
                <li><a href="#bestdishes">MENU</a></li>
                <li><a href="#map">LOCATION</a></li>
                <li><a href="#contactus">CONTACT</a></li>
            </ul>
        </nav>
      </div> <!--end of header-->
</div> <!-- end of headerwrapper-->
